pkgbase = scan2epub
	pkgdesc = Download scan of manga and convert it to epub
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/LordPax/go-scan2epub
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	source = https://github.com/LordPax/go-scan2epub/archive/refs/tags/v1.6.0.tar.gz
	md5sums = 1d854330b0974de664ffadc7c63819a6

pkgname = scan2epub
